* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #333;
  color: whitesmoke;
}

.site-title {
  text-align: center;
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: auto;
  background-color: hsla(0, 1%, 26%, 0.212);
  border-radius: 10px;
  width: 65%;
  min-height: 700px;
  box-shadow: 3px 3px 8px hsla(0, 1%, 18%, 0.363);
}

.checkboxes {
  display: flex;
  align-items: center;
  width: 220px;
  margin-top: 1rem;
}

.container #userNameSection {
  display: none;
}

.nameAmount {
  font-size: 1.25rem;
  margin-top: -0.25rem;
  margin-bottom: 1.5rem;
}

.container .result {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 90%;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
}

.resultNames {
  word-spacing: 0.25rem;
  max-width: 100%;
  line-height: 3rem;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

.userNumber,
.userNamesInput {
  margin: 1rem 0;
  text-align: center;
  width: 120px;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 33%, 0.527);
  border-radius: 10px;
  background-color: #222;
  color: #f0f0f0;
  outline: none;
}

button {
  margin: 1rem 0 2rem 0;
  text-align: center;
  width: 150px;
  padding: 12px 16px;
  font-size: 1.2rem;
  border: 2px solid hsla(202, 76%, 26%, 0.699);
  border-radius: 10px;
  background-color: hsl(202, 81%, 44%);
  color: #f0f0f0;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: hsla(202, 81%, 44%, 0.829);
  border-color: hsla(202, 76%, 26%, 0.699);
}

button:active {
  background-color: hsl(202, 81%, 44%);
  border-color: hsla(202, 76%, 26%, 0.699);
}

.checkBtns {
  margin: 0.75rem 0.5rem;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}
